<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Presentacion.Properties.Settings.DBSAVConnectionString"
            connectionString="Data Source=EDWARD-PC\SQLEXPRESS;Initial Catalog=DBSAV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>